configuration {
    modi: "drun";
    font: "Noto Sans 14";
    show-icons: true;
    display-drun: "";
    drun-display-format: "{name}";
    matching: "fuzzy";
    sort: true;
    sorting-method: "fzf";
    disable-history: true;
    click-to-exit: true;
}

@theme "~/.config/rofi/nord.rasi"

listview {
    lines: 6;
    columns: 1;
}

window {
    width: 30%;
}
