[Unit]
Description=Emacs server
After=plasma-workspace.target
Wants=plasma-workspace.target

[Service]
ExecStart=/usr/bin/emacs --fg-daemon
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
Restart=on-failure

[Install]
WantedBy=plasma-workspace.target
