- name: Install configs and scripts
  hosts: all

  tasks:
  - name: Create the user executables directory
    ansible.builtin.file:
      path: ~/.local/bin
      state: directory
      mode: "0755"

  - name: Copy scripts
    ansible.builtin.file:
      src: "{{ playbook_dir }}/../scripts/{{ item }}.sh"
      path: "~/.local/bin/{{ item }}.sh"
      state: link
      force: true
    loop:
      - backup-docs
      - backup-notes
      - blconnect

  - name: Copy systemd user files
    ansible.builtin.file:
      src: "{{ playbook_dir }}/../systemd/user/{{ item }}"
      path: "~/.config/systemd/user/{{ item }}"
      state: link
      force: true
    loop:
      - backup-docs.service
      - backup-docs.timer
      - backup-notes.service
      - backup-notes.timer
      - emacs.service

  - name: Enable systemd services to start on boot
    ansible.builtin.systemd:
      name: "{{ item }}"
      scope: user
      enabled: true
      daemon_reload: true
      force: true
    loop:
      - emacs.service
      - backup-docs.timer
      - backup-notes.timer
