# requires docker, docker-compose and cron

- name: Server notes
  hosts: all
  # must be specified when running
  vars:
    service_name: "dav-notes"
    project_path: ""
    server_key: ""
    server_crt: ""
    htpasswd: ""

  tasks:
    - name: Git checkout the config files
      ansible.builtin.git:
        repo: "https://github.com/sky-mart/dav-server.git"
        dest: "{{ project_path }}"

    - name: Copy credentials
      ansible.builtin.copy:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        force: no
      loop:
        - { src: "{{ server_key }}", dest: "{{ project_path }}" }
        - { src: "{{ server_crt }}", dest: "{{ project_path }}" }
        - { src: "{{ htpasswd }}", dest: "{{ project_path }}" }

    - name: Create data an backup directories
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        mode: '0775'
      loop:
        - "{{ project_path }}/data"
        - "{{ project_path }}/backups"

    - name: Copy the systemd unit file to the remote server
      ansible.builtin.copy:
        dest: "/etc/systemd/system/{{ service_name }}.service"
        content: |
          [Unit]
          Description={{ service_name }} Service
          Requires=docker.service
          After=docker.service
          After=network.target

          [Service]
          Type=oneshot
          RemainAfterExit=yes
          ExecStart=docker-compose up -d
          ExecStop=docker-compose down
          WorkingDirectory={{ project_path }}
          TimeoutStartSec=0

          [Install]
          WantedBy=multi-user.target
        mode: '0644'
      become: true

    - name: Reload systemd to pick up the new service unit file
      ansible.builtin.systemd:
        daemon_reload: yes
      become: true

    - name: Enable the service to start on boot
      ansible.builtin.systemd:
        name: "{{ service_name }}"
        enabled: yes
      become: true

    - name: Start the service
      ansible.builtin.systemd:
        name: "{{ service_name }}"
        state: started
      become: true

    - name: Write the backup command into a script
      ansible.builtin.copy:
        dest: "/usr/bin/backup-notes.sh"
        content: |
          #!/usr/bin/env sh

          tar cfzP {{ project_path }}/backups/$(date +%Y-%m-%d).tar {{ project_path }}/data
        mode: '0733'
      become: true

    - name: Setup backups
      ansible.builtin.cron:
        name: DAV notes backup
        special_time: daily
        job: "/usr/bin/backup-notes.sh"
        user: root
      become: true
